
.articleLinks
{
  color:#2c87f0!important;
  margin-top: 0px;
  clear: both;
  font-family: 'Open Sans', sans-serif;  font-weight: lighter; letter-spacing: 1px;
  line-height: 1.3;
}

#articlesDiv
{
  margin-left: 10%;
}


#Articles
{
  height: 100vh;
}
