
html {  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }

a { color: black; text-decoration: none; }
a:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }



.nav { padding-left: 0px; margin-bottom: 0px; list-style: none;font-family: 'Open Sans', sans-serif;    font-weight: lighter; letter-spacing: 5px; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: transparent }
.nav-tabs > li { float: left; margin-bottom: -1px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: navy; cursor: default; border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; background-color: rgb(255, 255, 255); }
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus { border: 1px solid rgb(221, 221, 221); }


*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}




a {display: inline-block;float: left;}


.removeBorderBottom { border-bottom-style: none; }
span { line-height: 19px; color: rgb(129, 129, 129); font-family: ArialMT, Arial, sans-serif;font-size: 12px; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: 0px; text-align: left; text-indent: 0px; text-transform: none; word-wrap: break-word;}
* {margin: 0px;}
html, body { height: 100%; }
.style_SkipStroke { opacity: 1; background: transparent; }
.nav-tabs > li > a { margin-right: 0px; }
.tabs { margin-top: 20px; }

body { }
div { overflow: visible; }
img { border: none; }
.inline-block.shape-with-text { vertical-align: bottom; }
body { background-image: url(http://localhost/nourinehammad/public/img/other/subtleLightPatterns.jpg); }




.fb_reset { border: 0px; border-spacing: 0px; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0px; overflow: visible; padding: 0px; text-align: left; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; background: none; }
.fb_reset > div { overflow: hidden; }
.fb_reset .fb_dialog_legacy { overflow: visible; }
#fb-root #fb_dialog_ipad_overlay { position: absolute; left: 0px; top: 0px; width: 100%; min-height: 100%; z-index: 10000; background: rgba(0, 0, 0, 0.45098); }
#fb-root #fb_dialog_ipad_overlay.hidden { display: none; }
.fb_iframe_widget { display: inline-block; position: relative; }
.fb_iframe_widget span { display: inline-block; position: relative; text-align: justify; }
.fb_iframe_widget iframe { position: absolute; }



#theHeader
{
	height:5px
}

#divOfImage
{
	position:relative;
	width: 50%;
	height: 50%;
	left: 13px;
	top: -46px;
}




/* Main Divs */

body {line-height: 1.5;margin-top: 0px;width: 100%;margin-right: auto;margin-left: auto;}
#content {width: 100%;overflow: hidden;margin-top: 2px;float: left;position: relative;position: relative;left: 0px;}

.contentbox { margin-top: 52px;}



/* Exhibition  */
#ExhibitionImage {  content: url(../img/other/Exhibition.jpg); width: 8.8em;height: 8.8em; margin-left: 30px;margin-top: 20px;margin-bottom: 20px;border: none;}
#ExhibitionImage:after /*for Chrome*/
{
    content: url(../img/other/Exhibition.jpg);

    width: 4.4em;
    height: 4.4em;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
}
#exhibitionTextTop
{
	height:1em;
}

.combiningGalleryDivs
{
  overflow: auto;
}

.ExhibitionContainerDiv
{
	margin-bottom:20px;
	margin-top:10px;
}

.exhibitionImage
{
	margin-right:10px;
	box-shadow: rgb(136, 136, 136) 4px 4px 5px;
}

.ExhibitionDescription
{
	margin-left:10px;
}

.combiningExhibitions
{
	overflow: auto;
}




/* Home  Nourine Name  */
body{
background-image: url("../img/other/subtleLightPatterns.jpg");

}
.homePageImages1 {width: 11em; max-width: 100%;height: 14.8em;border: 0px;}
.homePageImages {width: 8.5em;max-width: 100%;height: 7.2em; border: 0px;}


#divOfName
{
	margin-top: 7px;
 	left: 0px;
  top: 107px;
  z-index: 1;
  align="center";
}

#titlePElement
{
	text-align: center;
}

#divInImageOpenPhotoSwipe
{
	margin-top: 15%;
	margin-right: 10%;
    font-size: 17px;
    color: white;
		margin-left: 15px;
}

.style_2 {
    color: rgb(94, 55, 50);
    line-height: 29px;
    opacity: 1;
}

.style_1 {
    color: rgb(173, 173, 173);
    line-height: 29px;
    opacity: 1;
}
.nourineName {
    width: 60%;
		display: block;
	 margin-left: auto;
	 margin-right: auto;

}


/*Gallery CSS */


.pImageName{text-align: center;font-style: italic; margin:0px; margin-left: 5px;font-size: 1.2em;}

.pImageName{font-family: 'Open Sans', sans-serif;font-weight: lighter;letter-spacing: 1px;}
/*.pMargin{font-family: 'Open Sans', sans-serif;    font-weight: lighter; letter-spacing: 2px;}
.pSold{font-family: 'Open Sans', sans-serif;    font-weight: lighter; letter-spacing: 2px;}*/

.pSold{color: red;}

.pBold{font-weight: bold;}

.pSpaceToNextImage
{
	margin-bottom:15px;
	margin-top: -4px;
}

.pMargin{margin:0px;margin-top: -7px;font-family: 'Open Sans', sans-serif;letter-spacing: 1px;}

#my-gallery a {/* margin-left: 0.4em; *//* margin-right: 0.1em; *//* margin-bottom: 0.2em; */margin-top: 0.5em;}

.galleryImage {width: 100%;position: relative;display: inline-block;float: center;}

.galleryImageContainer
{
	 	display: inline-block;
  	float: left;
		padding-right:0px!important;
		padding-left:0px!important;
}

.galleryTextSize
{
  font-size: 11px;
}



.galleryChild { margin-top: 50px; }


.kiko-gallery { width: 100%; height: auto; float: left; }
.kiko-gallery a { display: block; float: left;margin: 0px 4px 12px 5px; line-height: 0;}
.demo-gallery a {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a.demo-gallery__img--main { width: auto; height: auto;margin-left: 5px;}
.demo-gallery figure { display: none; }

/*///////////////Contact Page */

.contactTextSpan{font-size: 15px !important;}

.contactEmailAndSocialText{ margin-left:2px;font-size: 13px !important;font-weight: bold;}

#contactTopDiv{height:5.5em}

#bio
{
	font-size: 11px;
}

.IGF
{
	margin-bottom:15px !important;
}

.ig-text
{
	    font-size: 13px!important;
}

.contactLinks{margin: auto;
   }

.contactNames
{
  margin: auto;

}

#socialNetworkLinks
{
  margin: auto;
}

.invisibleText
{
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.001);
  margin-top:5px;
}








@media (min-width:320px)
{
	body{font-size: 14px;}
  pSold{font-size: 12px;}
	.homePageImages1 {height: 15.2em;}
	.demo-gallery__img--main{data-size:"1055x1460"}
	#nav { font-size: 8px; position: absolute; margin-top: 8px; display: block; float: left; margin-bottom: 10px; }
  .nav { letter-spacing: 1px; }
  #nav{left: 3%;}
  #content {margin-top: 2px;}

	/*#content  { width: 23em; } /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width:330px)
{
	#nav { font-size: 9px;}
}
@media (min-width:481px)
{
	body{font-size: 16px;}
	#nav { font-size: 10px; position: absolute; margin-top: 8px; display: block; float: left; margin-bottom: 20px; }
  .nav { letter-spacing: 2px; }
  #nav{left: 6%;}
  #content {margin-top: 3px;}
	/*#content  { width: 420px; } /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .invisibleText
  {
    margin-top:5px;
  }
}
@media (min-width:641px)
{
		body{font-size: 26px;}
    #nav { font-size: 14px;}
    #nav{left: 20%;}
    .nav { letter-spacing: 3px; }
    #bio {font-size: 12px;}
    #content {margin-top: 4px;}
		/*#content  { width: 560px; } /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .contactNames
    {
      margin-right: 0px;
    }
 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width:961px)
{
    #nav{left: 28%;}
		body{font-size: 29px;}
    .pImageName{font-size: 14px;/* font-family: 'Open Sans', sans-serif; */}
    .pSold{font-size: 14px;}
    .pMargin{font-size: 14px;}
    .nav { letter-spacing: 5px; }
    #bio {font-size: 13px;}
    #content {margin-top: 12px;}
    .contactNames
    {
      margin-right: 228px;
      margin-left: 23px;
    }
		/*#content  { width: 860px; }
		.galleryImage{width:100px;height:100px; }
	 /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px)
{
	body{font-size: 36px;}
  #content {margin-top: 17px;}
	#my-gallery a {margin-right: 12px; margin-left: 24px; margin-bottom: 22px;margin-top: 11px;}
  .pMargin{margin-right: 12px; margin-left: 24px; }
  .pSold{margin-right: 12px; margin-left: 24px; }
	.homePageImages {width: 172px; max-width: 100%;height: 145px; border: 0px;}
	.homePageImages1 {width: 240px; max-width: 100%; h;height: 301px;border: 0px;}
	#ExhibitionImage { content: url(../img/other/Exhibition.jpg); height: auto; max-width: 80%; max-height: 80%; margin-left: 30px;margin-top: 20px;margin-bottom: 20px;border: none;}
	#ExhibitionImage:after /*for Chrome*/
	{
	    content: url(../img/other/Exhibition.jpg);
	    height: auto;
	    max-width: 40%;
	    max-height: 40%;
	    margin-left: 0px;
	    margin-top: 0px;
	    margin-bottom: 0px;
	    border: none;
	}
  #bio {font-size: 15px;}
  .contactNames
  {
    margin-right: 328px;
    margin-left: 33px;
  }
	/*#content  { width: 960px; } /* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px)
{
	body{font-size: 38px;}
 /* hi-res laptops and desktops */
}
