
html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  height: 100%;
  background-image: url("../img/other/subtleLightPatterns.jpg");
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);/*maybe useful for Andorid*/
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

a {color: black;text-decoration: none;display: inline-block;float: left;}
a:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
a:hover{
    text-decoration: none;
    opacity: 1;
}

* {margin: 0px;}
*:focus {outline:none !important}


div {overflow: visible;}

textarea:focus, input:focus{
    outline: none;
}

span {line-height: 19px;color: rgb(129, 129, 129);font-family: ArialMT, Arial, sans-serif;/* font-size: 12px; */font-stretch: normal;font-style: normal;font-variant: normal;font-weight: 400;letter-spacing: 0px;text-align: left;text-indent: 0px;text-transform: none;word-wrap: break-word;}

p, a, center {
	font-weight: lighter;
	line-height: 1.8em;
	color: #000;
	-webkit-transition:  ease-in-out 0.3s;
	-moz-transition:  ease-in-out 0.3s;
	transition:  ease-in-out 0.3s;
	background: transparent;
	text-decoration: none;
}

input {
    outline: none;
}

#content {width: 100%;overflow: hidden;margin-top: 2px;float: left;position: relative;position: relative;left: 0px;}


.theCorrectFontParagraph
{
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}


@media (min-width:320px)
{
  .pContentNone
  {
    display: block;
  }
  .desktopOnly
  {
    display: none;
  }

	body{font-size: 14px;}
  pSold{font-size: 12px;}
  #content {margin-top: 2px;}
}


#bio
{
	font-size: 11px;
}

@media (min-width:481px)
{
	body{font-size: 16px;}
  #content {margin-top: 3px;}
}






@media (min-width:641px)
{

		body{font-size: 26px;}

    .nav { letter-spacing: 3px; }
    #bio {font-size: 12px;}
    #content {margin-top: 4px;}
		/*#content  { width: 560px; } /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .contactNames
    {
      margin-right: 0px;
    }
 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width:992px)
{

  .pContentNone
  {
    display: none !important;
  }
  .desktopOnly
  {
    display: block;
  }
		body{font-size: 29px;}
    .pImageName{ font-size: 14px; font-family: 'Open Sans', sans-serif; }
    .pSold{font-size: 14px;}
    .pMargin{/* font-size: 14px; */}
    .nav { letter-spacing: 5px; }
    #bio {font-size: 13px;}
    #content {margin-top: 12px;}
    .contactNames
    {
      margin-right: 228px;
      margin-left: 23px;
    }

}
@media (min-width:1025px)
{

  .desktopOnly
  {
    display: block;
  }
	body{/* font-size: 36px; */}
  #content {margin-top: 17px;}
	#my-gallery a {margin-right: 12px;margin-left: 4px;margin-bottom: 22px;margin-top: 11px;}
  .pMargin{/* margin-right: 12px; *//* margin-left: 24px; */}
  .pSold{/* margin-right: 12px; *//* margin-left: 24px; */}
	.homePageImages {width: 172px; max-width: 100%;height: 145px; border: 0px;}
	.homePageImages1 {width: 240px; max-width: 100%; h;height: 301px;border: 0px;}

  #bio {font-size: 15px;}
  .contactNames
  {
    margin-right: 328px;
    margin-left: 33px;
  }
	/*#content  { width: 960px; } /* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px)
{



	body{font-size: 38px;}
 /* hi-res laptops and desktops */
}


.centerPseudo
{
  text-align:center;
}
