span
{
	line-height: 25px;
	color: rgb(129, 129, 129);
	font-family: 'ArialMT', 'Arial', sans-serif;
	font-size: 16px;
 	font-stretch: normal;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 100;
  	letter-spacing: 0;
  	text-align: left;
  	text-indent: 0px;
  	text-transform: none;
  	word-wrap: break-word;
}