html, body {
	height: 100%;
	margin:0;
	padding:0;
}


#theContentContainer
{
 	min-height:100%;
   	position:relative;
}

#footerContainerDiv
{
	left:50%; 
	margin-bottom:100px; 
	margin-left:30px;  
	display: inline-block;
}

#theFooter {
	position:absolute;
  	bottom:0;
   	width:100%;
   	
}

#theBody {
   		padding:10px;
   		padding-bottom:60px;   /* Height of the footer */
}

#theFooter {
		height:60px;   /* Height of the footer */  	
	}


a
	{
		margin-right: 15px;
	}
/* Extra Small Devices, .visible-xs-* */
@media (min-width: 768px) 
{

	a
	{
		margin-right: 40px;
	}
	#footerContainerDiv
	{
		margin-left:50px;  
	}
}


/* Medium Devices, .visible-md-* */
@media (min-width: 992px)  
{
	a
	{
		margin-right: 60px;
	}
	
	#footerContainerDiv
	{
		margin-left:150px;  
	}
}











