

.nav {

    display: block;
    margin-left: auto;
    margin-right: auto; padding-left: 0px; margin-bottom: 0px; list-style: none;font-family: 'Open Sans', sans-serif;    font-weight: lighter; letter-spacing: 1px; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: transparent }
.nav-tabs > li {float: left;margin-bottom: -1px;}
.nav-tabs > li > a {margin-right: 0px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: navy; cursor: default; border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; background-color: rgba(0, 0, 0, .075); }
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus { border: 1px solid rgb(221, 221, 221); }


.nav_tab_li
{
font-size: calc(8px + 0.5vw)!important;
}

.removeBorderBottom { border-bottom-style: none; }


#divOfName
{
	margin-top: 7px;
 	left: 0px;
  top: 107px;
  z-index: 1;
  align="center";

}



#theNav3
{
  margin-left: 15%;
}

#theNav4
{
  margin-left: 1%;
}

.nourineName {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.contentbox {
  margin-top: 5px;
}
@media (min-width:320px)
{
	#nav {margin-top: 8px;/* float: left; */margin-bottom: 10px; }
  .nav { letter-spacing: 1px; }
}
@media (min-width:416px)
{
  #theNav3
  {
    margin-left: 0px;
  }
  #theNav4
  {
    margin-left: 34%;
  }
}

@media (min-width:460px)
{
  #theNav4
  {
    margin-left: 32%;
  }
}
@media (min-width:481px)
{
	#nav {  margin-top: 8px;  margin-bottom: 20px; }
  .nav { letter-spacing: 2px; }
}

@media (min-width:500px)
{
  #theNav4
  {
    margin-left: 28%;
  }
}

@media (min-width:571px)
{
  #theNav3
  {
    margin-left: 0px;
  }

  #theNav4
  {
    margin-left: 0px;
  }
}

@media (min-width:800px)
{
  .nourineName {
      width: 67%;
    }
}
